<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Parolni tiklash</title>
    </head>
    <body>
        <h1>Parolni tiklash</h1>
        <p>parolni tiklash uchun emailni kiriting</p>
        <form action="" method="post">
            {% csrf_token %} {{form.as_p}}
            <button type="submit">Emailga jo'natish</button>
        </form>
    </body>
</html>
