<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>foydalanuvchi parolni tiklash</title>
    </head>
    <body>
        <h1>foydalanuvchi parolni tiklash</h1>
        {% if validlink %}
        <p>foydalanuvchi parolni tiklash uchun 2 mart parolni kiriting</p>
        <form action="" method="post">
            {% csrf_token %} {{form.as_p}}
            <button type="submit">Parolni almashtirish</button>
        </form>
        {% else %}
        <p>link xato kirdingiz</p>
        {% endif %}
    </body>
</html>
